#:schema https://jj-vcs.github.io/jj/latest/config-schema.json
[user]
email = "yanguk@duck.com"
name = "Yanguk"

[ui]
# diff-editor = "hunk"
editor = "nvim"
default-command = "log"
diff-formatter = ["difft", "--color=always", "$left", "$right"]
diff-editor = ":builtin"

[merge-tools.hunk]
program = "nvim"
edit-args = ["-c", "DiffEditor $left $right $output"]

# jj-diff
[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
  "-c",
  "let g:jj_diffconflicts_marker_length=$marker_length",
  "-c",
  "JJDiffConflicts!",
  "$output",
  "$base",
  "$left",
  "$right",
]
merge-tool-edits-conflict-markers = true

# p10k
# https://zerowidth.com/2025/async-zsh-jujutsu-prompt-with-p10k/
[template-aliases]
'format_short_change_id(id)' = 'id.shortest(4)'
'format_short_commit_id(id)' = 'id.shortest(4)'
prompt = '''
separate(" ",
  format_short_change_id_with_hidden_and_divergent_info(self),
  format_short_commit_id(commit_id),
  if(empty, label("empty", "(empty)"), ""),
  if(description == "", label("description placeholder", "(no description)"), ""),
  if(description.contains("megamerge"), label("mega", "(mega)"), ""),
  if(description.starts_with("wip"), label("wip", "(wip)"), ""),
  if(description.starts_with("todo"), label("todo", "(todo)"), ""),
  if(description.starts_with("vibe"), label("vibe", "(vibe)"), ""),
  if(description.starts_with("mega"), label("mega", "(mega)"), ""),
  if(conflict, label("conflict", "(conflict)"), "")
)
'''

# p10k
[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

# p10k
[colors]
wip = "yellow"
todo = "blue"
vibe = "cyan"
mega = "red"

[signing]
behavior = "own"
# behavior = "drop"
backend = "gpg"
key = "4393B4559800E556EC978C9C879056D45517B74F"

[git]
# sign-on-push = true

[aliases]
# See https://jj-vcs.github.io/jj/latest/config/#aliases
pre-commit = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  "jj diff -r @ --name-only --no-pager | xargs pre-commit run --files",
]
