simple-update-notifier
wireshark
iterm2
ghc
fish
plugin
.DS_Store
yarn
node_modules
coc
lazygit/state.yml
ngrok
github-copilot
tmux/plugins
alacritty/themes

zed/*
!zed/keymap.json
!zed/settings.json
!zed/tasks.json

# nvim
lazy-lock.json
.back

raycast
neofetch
flake.lock
hammerspoon/Spoons/EmmyLua.spoon/annotations

config.kdl.bak*
configstore
